* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("Favicon/1662_original.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: white;
}

.emphasis {
    color: #b66a0c;
}


.icon-link {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

a:hover, .menu-item:hover, #menu-button:hover
{
    opacity: 0.7;
}

.section {
    padding-left: 10vw;
    padding-top: 30vh;
}

#home h1 {
    font-size: 5rem;
}

#home p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: rgb(104, 100, 100);
}

button {
    cursor: pointer;
    border: none;
    outline: inherit;
    background: transparent;
    color: inherit;
}

#menu-button {
    position: fixed;
    right: 2rem;
    top: 2rem;

}

#menu {
    position: fixed;
    top: 30vh;
    width: 100vw;
    flex-direction: column;
    display: none;

}

.menu-item {
    margin-bottom: 2rem;
    font-size: 3rem;
}

#projects, #about, #contact {
    display: none;
}

.project-image {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.project-title {
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

#projects-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h2 {
    font-size: 2rem;
}

#author-image {
    height: 8rem;
    border-radius: 50%;
    float: left;

}

#about p {
    display: inline-block;
    font-size: 1.2rem;
    width: 60%;
    padding: 1rem;
    padding-top: 0px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.04);
    margin-left: 0.5rem;

}

#contact p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #b66a0c;
}